<%= div_for sample do %>

<div class='canvas sample-canvas' data-strokes='<%= sample.data.to_json.html_safe %>'></div>

<p>Quality: <span class="plusminus"><%= sample.plusminus_cache %><span></p>

<ul>
  <% if can? :destroy, sample %><li><%= link_to 'Destroy', [sample.sym, sample], remote: true, confirm: 'Are you sure?', method: :delete %></li><% end %>
  <% if signed_in? -%>
  <li><%= link_to 'Vote up', vote_up_sym_sample_path(sample.sym, sample), remote: true, method: :post %></li>
  <li><%= link_to 'Vote down', vote_down_sym_sample_path(sample.sym, sample), remote: true, method: :post %></li>
  <% end -%>
</ul>

<% end %>