<p>Data: <%= sample.data %><p>
<p>Quality: <%= sample.plusminus %></p>

<ul>
  <% if admin? %><li><%= link_to 'Destroy', [@sym, sample], :confirm => 'Are you sure?', :method => :delete %></li><% end %>
  <% if signed_in? -%>
  <li><%= link_to 'Vote up', vote_up_sym_sample_path(@sym, sample), remote: true, method: :post %></li>
  <li><%= link_to 'Vote down', vote_down_sym_sample_path(@sym, sample), remote: true, method: :post %></li>
  <% end -%>
</ul>