<h1>Listing samples</h1>

<h2><%= @sym.name %></h2>

<table>
  <tr>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @samples.each do |sample| %>
  <tr>
    <td><%= sample.data %></td>
    <td><%= link_to 'Show', [@sym, sample] %></td>
    <td><%= link_to 'Edit', [:edit, @sym, sample] %></td>
    <td><%= link_to 'Destroy', [@sym, sample], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sample', new_sym_sample_path(@sym) %>
