<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @sample.data %>
</p>

<p>
  <b>Sym:</b>
  <%= @sample.sym %>
</p>


<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
