%h1 Symbol representations

%h2= @sym.name

= flash_message

%ul
  - @representations.each do |representation|
    %li
    = render representation
    
    = link_to 'Edit', [:edit, @sym, representation]
    |
    = link_to 'Destroy', [@sym, representation], :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Representation', new_sym_representation_path(@sym)
|
= link_to 'List', syms_path
|
= link_to 'Symbol', @sym