%h1 New representation

= simple_form_for([@sym, @latex_representation]) do |f|
  = f.error_notification
  = render 'latex_representation_form', :f => f

= simple_form_for([@sym, @unicode_representation]) do |f|
  = f.error_notification
  = render 'unicode_representation_form', :f => f

= link_to 'Back', sym_representations_path(@sym)
