<%= form_for(@sym) do |f| %>
  <% if @sym.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sym.errors.count, "error") %> prohibited this sym from being saved:</h2>

      <ul>
      <% @sym.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
