.symbol
  %h3.name= sym.name
  %p.description= sym.description
  - if sym.latex_representations.any?
    %h4 LaTeX:
    %ul.latex
      - sym.latex_representations.each do |latex|
        %li
          %img{src:latex.image}
          - if latex.package.present?
            %p.package Package: <code>\usepackage{ <kbd>#{latex.package}</kbd> }</code>
          %p.command Command: <kbd>#{latex.command}</kbd>
  - if sym.unicode_representations.any?
    %h4 Unicode:
    %ul.unicode
      - sym.unicode_representations.each do |unicode|
        %li
          %p.char <kbd>#{unicode.unicode}</kbd>
          %p.codepoint <code>#{unicode.hex_codepoint}</code>
  %p.footer
    &nbsp;
