<h1>Listing syms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @syms.each do |sym| %>
  <tr>
    <td><%= sym.name %></td>
    <td><%= sym.description %></td>
    <td><%= link_to 'Show', sym %></td>
    <td><%= link_to 'Edit', edit_sym_path(sym) %></td>
    <td><%= link_to 'Destroy', sym, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sym', new_sym_path %>
