<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sym.name %>
</p>

<p>
  <b>Description:</b>
  <%= @sym.description %>
</p>

<ul>
<% if admin? %><li><%= link_to 'Edit', edit_sym_path(@sym) %></li><% end %>
<li><%= link_to 'Back', syms_path %></li>
</ul>
