!!! 5
//%html{manifest:'cache-manifest'}
%html
  %head
    %title Sketch-A-Char
    %link{rel: "icon", href: "/favicon.png", type: "image/png"}
    = stylesheet_link_tag 'styles'
    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'jquery-ui.min'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'underscore-min'
    = javascript_include_tag 'underscore-mixins'
    = javascript_include_tag 'backbone-min'
    = javascript_include_tag 'raphael-min'
    = javascript_include_tag 'jquery.mustache'
    = javascript_include_tag 'canvassify'
    = javascript_include_tag 'jquery.hive'
    = javascript_include_tag 'client'
  %body
    = yield