!!! 5
//%html{manifest:'cache-manifest'}
%html
  %head
    %title Sketch-A-Char
    %link{rel: "icon", href: "/favicon.png", type: "image/png"}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'app'
  %body
    #wrapper
      = render 'shared/header'
      = render 'shared/nav'
      = yield
      = render 'shared/footer'
    = yield :javascript
