!!! 5
//%html{manifest:'cache-manifest'}
%html
  %head
    %title Sketch-A-Char
    %link{rel: "icon", href: "/favicon.png", type: "image/png"}
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = javascript_include_tag 'underscore-min.js'
    = javascript_include_tag 'underscore-mixins.js'
    = javascript_include_tag 'backbone-min.js'
    = javascript_include_tag 'raphael-min.js'
    = javascript_include_tag 'jquery.mustache.js'
    = javascript_include_tag 'canvassify.js'
    = javascript_include_tag 'jquery.hive.js'
    = javascript_include_tag 'client.js'
  %body
    = yield